# version: '3'
services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
  metabase:
    image: metabase/metabase:latest
    ports:
      - "3000:3000"
